## Imports

In [1]:
import io
import glob
import numpy as np
import pandas as pd

# to ignore warnings
import warnings
warnings.filterwarnings('ignore')

# to display all rows columns 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None) 

# to display entire content of the elements 
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

# to remove scientific notation from pandas
pd.set_option('display.float_format', lambda x: '%.3f' % x)

## Matches.csv

In [2]:
# matches list
matches_list = [filename for filename in glob.glob("t20s_female_csv\*.csv")]

# total matches
matches_count = len(matches_list)

In [3]:
all_col_names = []

# match id, cols count, cols
raw_df = pd.DataFrame(index=np.arange(matches_count), columns=['m_id', 'cols_count', 'cols'])

# iterate for all matches
for i in range(matches_count):
    raw_df['m_id'][i] = matches_list[i].split('\\')[1].split('.')[0]
    
    # one match at a time
    match_path = matches_list[i]
    
    try:
        temp_df = pd.read_csv(match_path, nrows = 21, skiprows=1, header=None)
    except:
        try:
            temp_df = pd.read_csv(match_path, nrows = 20, skiprows=1, header=None)
        except:
            try:
                temp_df = pd.read_csv(match_path, nrows = 19, skiprows=1, header=None)
            except:
                try:
                    temp_df = pd.read_csv(match_path, nrows = 18, skiprows=1, header=None)
                except:
                    try:
                        temp_df = pd.read_csv(match_path, nrows = 17, skiprows=1, header=None)
                    except:
                        try:
                            temp_df = pd.read_csv(match_path, nrows = 16, skiprows=1, header=None)
                        except:
                            try:
                                temp_df = pd.read_csv(match_path, nrows = 15, skiprows=1, header=None)
                            except: 
                                try:
                                    temp_df = pd.read_csv(match_path, nrows = 14, skiprows=1, header=None)
                                except: 
                                    try:
                                        temp_df = pd.read_csv(match_path, nrows = 13, skiprows=1, header=None)
                                    except:
                                        print(f"Error: {matches_list[i]}")

                        
    # transformation to get all the columns without losing duplicates
    temp_df.columns = ['col0', 'col1', 'col2']
    mask = temp_df['col1'].duplicated(keep=False)
    temp_df.loc[mask, 'col1'] += temp_df.groupby('col1').cumcount().add(1).astype(str)
    cols_list = list(temp_df.col1)
    
    # add column count
    raw_df['cols_count'][i] = len(cols_list)
    
    # capture all column names
    all_col_names.append(cols_list)
    
    # convert list to string
    raw_df['cols'][i] = str(cols_list)

In [4]:
flat_list = [item for sublist in all_col_names for item in sublist]
all_unique_col_names = list(set(flat_list))

In [5]:
# an empty dataframe with all unique col names
df = pd.DataFrame(columns=all_unique_col_names)
df.head()

Empty DataFrame
Columns: [team2, reserve_umpire1, toss_decision, eliminator, balls_per_over, toss_winner, winner, reserve_umpire2, date2, reserve_umpire, method, umpire2, player_of_match, city, match_number, team1, match_referee, neutralvenue, tv_umpire, date, winner_runs, competition, season, winner_wickets, umpire1, event, outcome, gender, venue, date1]
Index: []

In [6]:
for i in range(matches_count):
    
    match_path = matches_list[i]
    
    try:
        temp_df = pd.read_csv(match_path, nrows = 21, skiprows=1, header=None)
    except:
        
        try:
            temp_df = pd.read_csv(match_path, nrows = 20, skiprows=1, header=None)
        except:
            
            try:
                temp_df = pd.read_csv(match_path, nrows = 19, skiprows=1, header=None)
            except:
                
                try:
                    temp_df = pd.read_csv(match_path, nrows = 18, skiprows=1, header=None)
                except:
                    
                    try:
                        temp_df = pd.read_csv(match_path, nrows = 17, skiprows=1, header=None)
                    except:
                        
                        try:
                            temp_df = pd.read_csv(match_path, nrows = 16, skiprows=1, header=None)
                        except:
                            
                            try:
                                temp_df = pd.read_csv(match_path, nrows = 15, skiprows=1, header=None)
                            except:
                                
                                try:
                                    temp_df = pd.read_csv(match_path, nrows = 14, skiprows=1, header=None)
                                except:
                                    
                                    try:
                                        temp_df = pd.read_csv(match_path, nrows = 13, skiprows=1, header=None)
                                    except:
                                        print(f"Error: {matches_list[i]}")

                            
                        
    # transformation to get all the columns without losing duplicates
    temp_df.columns = ['col0', 'col1', 'col2']
    mask = temp_df['col1'].duplicated(keep=False)
    temp_df.loc[mask, 'col1'] += temp_df.groupby('col1').cumcount().add(1).astype(str)
    
    tempdf_keys = list(temp_df.col1)
    tempdf_values = list(temp_df.col2)                    
    
    temp_dict = dict(zip(tempdf_keys, tempdf_values))
    temp_df = pd.DataFrame([temp_dict])
    
    df = pd.concat([df, temp_df], axis = 0)

In [7]:
df.head()

         team2 reserve_umpire1 toss_decision eliminator balls_per_over  toss_winner       winner reserve_umpire2 date2      reserve_umpire method         umpire2 player_of_match      city match_number        team1  match_referee neutralvenue  tv_umpire        date winner_runs competition   season winner_wickets      umpire1                                       event outcome  gender                           venue date1
0  New Zealand  NaN             field         NaN        6              New Zealand  Australia    NaN             NaN   AJ Barrow           NaN    SAJ Craig       EJ Villani      NaN       1            Australia    SR Bernard     NaN          JD Ward    2017/02/17  40          NaN         2016/17  NaN            GA Abood     New Zealand Women in Australia T20I Series  NaN     female  Melbourne Cricket Ground        NaN
0  New Zealand  NaN             field         NaN        6              Australia    New Zealand  NaN             NaN   AJ Barrow           D/L    JD Ward         AM Peterson     Victoria  2            Australia    SR Bernard     NaN          GA Abood   2017/02/19  8           NaN         2016/17  NaN            SAJ Craig    New Zealand Women in Australia T20I Series  NaN     female  Simonds Stadium, South Geelong  NaN
0  New Zealand  NaN             bat           NaN        6              New Zealand  New Zealand  NaN             NaN   AJ Barrow           NaN    JD Ward         SW Bates        NaN       3            Australia    SR Bernard     NaN          SAJ Craig  2017/02/22  47          NaN         2016/17  NaN            GA Abood     New Zealand Women in Australia T20I Series  NaN     female  Adelaide Oval                   NaN
0  Australia    NaN             field         NaN        6              Australia    Australia    NaN             NaN   SPD Jayamahamudali  NaN    ID Gunawardene  KM Beams        Colombo   NaN          Sri Lanka    M Pethiyagoda  NaN          NaN        2016/09/27  NaN         NaN         2016     10             JWHD Boteju  NaN                                         NaN     female  Sinhalese Sports Club Ground    NaN
0  Pakistan     NaN             bat           NaN        6              New Zealand  New Zealand  NaN             NaN   NaN                 NaN    D Venter        NaN             Nelson    NaN          New Zealand  RE Hayward     NaN          NaN        2016/11/21  14          NaN         2016/17  NaN            K Cross      NaN                                         NaN     female  Saxton Oval                     NaN

In [8]:
# if date is missing -> add date from date1
df['date'] = df.apply(lambda x: x['date1'] if pd.isnull(x['date']) else x['date'], axis = 1)

In [9]:
# format date from string to datetime object
df['date'] = df['date'].astype('datetime64[ns]')

In [10]:
# matchId list
matchId_list = list(raw_df.m_id)

In [11]:
df['matchId'] = matchId_list

In [12]:
df.head()

         team2 reserve_umpire1 toss_decision eliminator balls_per_over  toss_winner       winner reserve_umpire2 date2      reserve_umpire method         umpire2 player_of_match      city match_number        team1  match_referee neutralvenue  tv_umpire       date winner_runs competition   season winner_wickets      umpire1                                       event outcome  gender                           venue date1  matchId
0  New Zealand  NaN             field         NaN        6              New Zealand  Australia    NaN             NaN   AJ Barrow           NaN    SAJ Craig       EJ Villani      NaN       1            Australia    SR Bernard     NaN          JD Ward   2017-02-17  40          NaN         2016/17  NaN            GA Abood     New Zealand Women in Australia T20I Series  NaN     female  Melbourne Cricket Ground        NaN   1043989
0  New Zealand  NaN             field         NaN        6              Australia    New Zealand  NaN             NaN   AJ Barrow           D/L    JD Ward         AM Peterson     Victoria  2            Australia    SR Bernard     NaN          GA Abood  2017-02-19  8           NaN         2016/17  NaN            SAJ Craig    New Zealand Women in Australia T20I Series  NaN     female  Simonds Stadium, South Geelong  NaN   1043991
0  New Zealand  NaN             bat           NaN        6              New Zealand  New Zealand  NaN             NaN   AJ Barrow           NaN    JD Ward         SW Bates        NaN       3            Australia    SR Bernard     NaN          SAJ Craig 2017-02-22  47          NaN         2016/17  NaN            GA Abood     New Zealand Women in Australia T20I Series  NaN     female  Adelaide Oval                   NaN   1043993
0  Australia    NaN             field         NaN        6              Australia    Australia    NaN             NaN   SPD Jayamahamudali  NaN    ID Gunawardene  KM Beams        Colombo   NaN          Sri Lanka    M Pethiyagoda  NaN          NaN       2016-09-27  NaN         NaN         2016     10             JWHD Boteju  NaN                                         NaN     female  Sinhalese Sports Club Ground    NaN   1044211
0  Pakistan     NaN             bat           NaN        6              New Zealand  New Zealand  NaN             NaN   NaN                 NaN    D Venter        NaN             Nelson    NaN          New Zealand  RE Hayward     NaN          NaN       2016-11-21  14          NaN         2016/17  NaN            K Cross      NaN                                         NaN     female  Saxton Oval                     NaN   1050615

In [13]:
# export file
df.to_csv('matches_updated_womens_t20.csv', index = False)

## Deliveries.csv

In [14]:
def populate_bowling_team(match_id, batting_team, matches_df):
    
    team1 = matches_df[matches_df.matchId == match_id]['team1'].item()
    team2 = matches_df[matches_df.matchId == match_id]['team2'].item()
    
    if batting_team == team1:
        return team2
    else:
        return team1

In [15]:
 # use any of the following column names
deliveries_cols = ['ball', 'inning', 'over_ball', 'batting_team', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
               'extras', 'isWide', 'isNoBall', 'Byes', 'LegByes', 'Penalty', 'dismissal_kind', 'player_dismissed']

all_deliveries_df = pd.DataFrame(columns=deliveries_cols)

for i in range(matches_count):
    
    # fetch match id
    match_id = matches_list[i].split('\\')[1].split('.')[0]
    
    # path
    match_path = matches_list[i]
    
    # iterate through each match
    temp_df = pd.read_csv(match_path, usecols=['version'])
    temp_df['info_ball'] = temp_df.index
    
    temp_df.reset_index(inplace = True, drop = True)
    keep_rows = list(temp_df[temp_df.info_ball == "ball"].index)
    keep_rows = [i+1 for i in keep_rows]
    
    try:
        deliveries_temp_df = pd.read_csv(match_path, skiprows = lambda x: x not in keep_rows, header=None)
        deliveries_temp_df.columns = deliveries_cols
        deliveries_temp_df['matchId'] = match_id
    except:
        print(f"Error -- MatchId: {matches_list[i]}, Index: {i}")
        

all_deliveries_df = pd.concat([all_deliveries_df, deliveries_temp_df], axis = 0)

In [16]:
# populate over_no & ball_no
all_deliveries_df['over'] = all_deliveries_df['over_ball'].apply(lambda x: str(x).split('.')[0])
all_deliveries_df['ball'] = all_deliveries_df['over_ball'].apply(lambda x: str(x).split('.')[1])

# fixing the order of all columns
all_deliveries_df =all_deliveries_df[['matchId', 'inning', 'over_ball', 'over', 'ball', 'batting_team', 'batsman', 'non_striker',
       'bowler', 'batsman_runs', 'extras', 'isWide', 'isNoBall', 'Byes',
       'LegByes', 'Penalty', 'dismissal_kind', 'player_dismissed']]

# create a df with only matchId, batting_team, bowling_team
new_df = all_deliveries_df[['matchId', 'batting_team']]

# remove duplicates
new_df = new_df.drop_duplicates()

# populate bowling team using the above function
new_df['bowling_team'] = new_df.apply(lambda x: populate_bowling_team(x['matchId'], x['batting_team'], df), axis = 1)

# merge new_df only bowling team
all_deliveries_df = all_deliveries_df.merge(new_df, on = ['matchId','batting_team'], how = 'left')

# rearrage column names
all_deliveries_df = all_deliveries_df[['matchId', 'inning', 'over_ball', 'over', 'ball', 
                                       'batting_team', 'bowling_team' , 
                                       'batsman', 'non_striker', 'bowler', 
                                       'batsman_runs', 'extras', 'isWide',
                                       'isNoBall', 'Byes', 'LegByes', 'Penalty', 'dismissal_kind',
                                       'player_dismissed']]

In [17]:
all_deliveries_df.tail()

    matchId inning  over_ball over ball batting_team bowling_team        batsman    non_striker       bowler batsman_runs extras  isWide  isNoBall  Byes  LegByes  Penalty dismissal_kind player_dismissed
117  962023  2     9.200       9    2    Bangladesh   Ireland      Rumana Ahmed   Fargana Hoque  LK O'Reilly  0            0     NaN     NaN       NaN   NaN      NaN       lbw            Rumana Ahmed
118  962023  2     9.300       9    3    Bangladesh   Ireland      Ritu Moni      Fargana Hoque  LK O'Reilly  0            0     NaN     NaN       NaN   NaN      NaN       run out        Ritu Moni
119  962023  2     9.400       9    4    Bangladesh   Ireland      Fargana Hoque  Fahima Khatun  LK O'Reilly  0            0     NaN     NaN       NaN   NaN      NaN       stumped        Fargana Hoque
120  962023  2     9.500       9    5    Bangladesh   Ireland      Jahanara Alam  Fahima Khatun  LK O'Reilly  0            0     NaN     NaN       NaN   NaN      NaN       NaN            NaN
121  962023  2     9.600       9    6    Bangladesh   Ireland      Jahanara Alam  Fahima Khatun  LK O'Reilly  2            0     NaN     NaN       NaN   NaN      NaN       NaN            NaN

In [18]:
# export file
all_deliveries_df.to_csv('deliveries_updated_womens_t20.csv', index = False)